@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialDesignIcons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialDesignIcons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialDesignIcons/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialDesignIcons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


header{
  margin-bottom:3.4em;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

%hide {
  opacity: 0;
}


.logo{
  left: -8px;
    top: -4px;
  position: absolute;
}

.menuheight{
  height: 32px;
}

.navbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  border-style: solid;

  &.is-hidden {
    @extend %hide;
    -webkit-transform: translate(0,-60px);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  }

  &.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  }
}

.navbar-toggler-right {
  right: 0.3rem;
  top: 0.3rem;
}

.is-hidden {
  @extend %hide;
  -webkit-transform: translate(0,-60px);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  border-style: solid;
}

.is-visible {
  opacity: 1;
  -webkit-transform: translate(0,0);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  border-style: solid;
}

.navbar-nav>li{
  margin: 0.5em 0em;
}

.nav-link {
  padding: 0 0;
}

.divide{
  width: 95%;
  border-top: 1px solid #f6f6f6;
}

.agendar {
  margin-top: 0.2em;
}

// MENU //

.menu {
  display:none;
}

// FOOTER //

footer {
  background-color: #CACACA;
  height: 50px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  img{
    width: 3em;
    height: 3em;
  }
  p{
    font-size: 0.9em;
    margin: 0 0 0 0;
  }
}

.socicons{
  display:flex;
  margin-left: 0.3em;
  margin-right: -0.8em;
  flex:1;
}

.whatsapp{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

  img {
    display:border-box;
    width: 2em;
    height: 2em;
    margin: 0.5em 0.5em;
  }
}

.logo-footer{
  display:flex;
  flex:0;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 16px;
  }

  .menu {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    width: 200px;
    height: 200px;
  }

  .nav-link {
    padding: 0em 0.5em;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    //flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
  }

  .main-menu > * {
    display: flex;
    align-items:center;
    text-align: center;
  }

  .menu{
    display: flex;
    justify-content: center;
    img{
      width: 60%;
      height: 30%;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .menu{
    img{
      width: 40%;
      height: 30%;
    }
  }
  footer {
    width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .menu{
    img{
      width: 30%;
      height: 30%;
    }
  }

  .main-menu {
    width: 80%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
